<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <description>Wake On Lan Web made by Jeremy Sells</description>
    <display-name>Wake On Lan Web</display-name>
    <distributable/>
    <servlet>
        <servlet-name>WakePC</servlet-name>
        <servlet-class>info.jeremysells.projects.programming.wolw.servlets.WakePC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WakeAPC</servlet-name>
        <servlet-class>info.jeremysells.projects.programming.wolw.servlets.WakeAPC</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WakePC</servlet-name>
        <url-pattern>/WakePC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WakeAPC</servlet-name>
        <url-pattern>/WakeAPC</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
